
.forecastWeather {
    display: flex;
    flex-direction: row;
}
.card {
    padding: 10px;
    margin: 10px;
}
.container {
    height: 650px;
}
header {
    height: 50px;
    text-align: center;
    font-size: xx-large;
    color: whitesmoke;
    margin: 0 -15px 0 -15px;
}
input {
    margin-bottom: 10px;
}
.cityBtn {
    text-align: left;
    font-size: large;
}
.currentWeather {
    border: 1px solid lightgray;
    margin-right: 10px;
    background: white;
}
span {
    margin: -30px 0 20px 0; 
}