
.forecastWeather {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    padding: 10px;
    margin: 10px;
    height: auto;
    box-shadow: 5px 5px #888888;
    max-width: 145px;
}
.container {
    height: auto;
}
header {
    height: 50px;
    text-align: center;
    font-size: xx-large;
    color: whitesmoke;
    margin: 0 -15px 0 -15px;
}
input {
    margin-bottom: 10px;
}
.cityBtn {
    text-align: left;
    font-size: large;
    background: white;
    margin-bottom: 1px
}
.currentWeather {
    border: 1px solid lightgray;
    margin-right: 10px;
    background: white;
}
span {
    margin: -30px 0 20px 0; 
    font-size: larger;
}
p {
    font-size: larger;
}
.weatherIcon {
    width: 50px;
}
h4 {
    margin-top: 10px;
}